<!DOCTYPE html>
<html lang="en">

<head>

    {% if hotspot.http_status == "302" %}
    Hotspot redirect
    {% endif %}

    {% if hotspot.http_header == "Location" %}
    {{ hotspot.link_redirect }}
    {% endif %}

    <meta charset="utf-8">

    <title>Redirect</title>

    <meta
        http-equiv="refresh"
        content="0; url={{ hotspot.link_redirect }}"
    >

    <meta
        http-equiv="pragma"
        content="no-cache"
    >

    <meta
        http-equiv="expires"
        content="-1"
    >

</head>

<body>

</body>

</html>